@pageWidth: 1280px;

.background-container {
  margin: 0;
  padding: 0;
  height: 900px;
  width: @pageWidth;
  background-size: contain;
  background-image: url("../img/bg.jpg");
}

h1 {
  color:white;
}
